ConsoleTest/bin
ConsoleTest/obj
DockTilePlugin/DockTile.xcodeproj/project.xcworkspace/xcuserdata
DockTilePlugin/DockTile.xcodeproj/xcuserdata
DockTilePlugin/bin
DockTilePlugin/obj
Experiments/Experiments.xcworkspace/xcuserdata
Experiments/FakeMailApp.xcodeproj/xcuserdata
Experiments/XibLessSwiftApp/XibLessSwiftApp.xcodeproj/project.xcworkspace/xcshareddata/xcuserdata
Experiments/XibLessSwiftApp/XibLessSwiftApp.xcodeproj/project.xcworkspace/xcuserdata
Experiments/XibLessSwiftApp/XibLessSwiftApp.xcodeproj/xcuserdata
Experiments/XibLessSwiftApp/XibLessSwiftApp/Base.lproj/xcuserdata
Experiments/XibLessSwiftApp/XibLessSwiftApp/xcuserdata
Experiments/XibLessSwiftApp/xcuserdata
FormsTest/bin
FormsTest/obj
FormsTestApp/Info.plist
FormsTestApp/Properties/AssemblyInfo.cs
MacApi/bin
MacApi/obj
MacBridge.Test/bin
MacBridge.Test/obj
MacBridge/bin
MacBridge/obj
Relauncher/Relauncher.xcodeproj/project.xcworkspace/xcuserdata
Relauncher/Relauncher.xcodeproj/xcuserdata
/bin
mono/mcs/class/Mono.WebBrowser/bin
mono/mcs/class/Mono.WebBrowser/obj
mono/mcs/class/System.Drawing/bin
mono/mcs/class/System.Drawing/obj
mono/mcs/class/System.Windows.Forms/System.Windows.Forms-net_4_5.userprefs
mono/mcs/class/System.Windows.Forms/System.Windows.Forms.RTF/rtf.csproj.user
mono/mcs/class/System.Windows.Forms/System.Windows.Forms/SWF.csproj.user
mono/mcs/class/System.Windows.Forms/bin
mono/mcs/class/System.Windows.Forms/obj
mono/mcs/class/lib
/obj
sysdrawing-coregraphics/bin
sysdrawing-coregraphics/lib
sysdrawing-coregraphics/obj
sysdrawing-coregraphics/sysdrawing-coregraphics.userprefs
