trunk/ConsoleTest/bin
trunk/ConsoleTest/obj
trunk/Experiments/Experiments.xcworkspace/xcuserdata
trunk/Experiments/FakeMailApp.xcodeproj/xcuserdata
trunk/FormsTest/bin
trunk/FormsTest/obj
trunk/GUITest/bin
trunk/GUITest/obj
trunk/MacBridge.Test/bin
trunk/MacBridge.Test/obj
trunk/MacBridge/bin
trunk/MacBridge/obj
trunk/XibLessSwiftApp/XibLessSwiftApp.xcodeproj/project.xcworkspace/xcshareddata/xcuserdata
trunk/XibLessSwiftApp/XibLessSwiftApp.xcodeproj/project.xcworkspace/xcuserdata
trunk/XibLessSwiftApp/XibLessSwiftApp.xcodeproj/xcuserdata
trunk/XibLessSwiftApp/XibLessSwiftApp/Base.lproj/xcuserdata
trunk/XibLessSwiftApp/XibLessSwiftApp/xcuserdata
trunk/XibLessSwiftApp/xcuserdata
trunk/mono/mcs/class/Mono.WebBrowser/bin
trunk/mono/mcs/class/Mono.WebBrowser/obj
trunk/mono/mcs/class/System.Drawing/bin
trunk/mono/mcs/class/System.Drawing/obj
trunk/mono/mcs/class/System.Windows.Forms/System.Windows.Forms-net_4_5.userprefs
trunk/mono/mcs/class/System.Windows.Forms/bin
trunk/mono/mcs/class/System.Windows.Forms/obj
trunk/mono/mcs/class/lib
trunk/packages
trunk/sysdrawing-coregraphics/bin
trunk/sysdrawing-coregraphics/lib
trunk/sysdrawing-coregraphics/obj
trunk/sysdrawing-coregraphics/sysdrawing-coregraphics.userprefs
