<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>FormsTest</string>
	<key>CFBundleShortVersionString</key>
	<string>9.2</string>
	<key>CFBundleVersion</key>
	<string>9.2.697</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>eMFT</string>
	<key>NSHumanReadableCopyright</key>
	<string>eM Client s.r.o.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
